.bash {
	margin-top: 1em;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 2em;
        overflow:auto;
        border: 0px solid #000;
        background-color:#000;
        padding:2em;
        text-align: left;
        color: #0f0;
	font-size:10pt;
        font-family:"Courier New", "Lucida Console", Courier, Monaco, monospace;
} 
